@model PowerBiConnect.ReportViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script type="text/javascript" src="~/scripts/powerbi.js"></script>
    <script type="text/javascript" src="~/scripts/LoadReport.js"></script>
    <link href="~/css/StyleSheet.css" rel="stylesheet" type="text/css" />
</head>
<body>
    @if (Model != null)
    {
        <p id="accessToken" class="hidden">@Model.accessToken</p>
        <p id="embedUrl" class="hidden">@Model.embedUrl</p>
        <p id="reportId" class="hidden">@Model.reportId</p>
        <div id="container" class="container"></div>
    }
</body>
</html>